body {
    background-image: linear-gradient(rgba(49, 2, 64, 0.7), rgba(72, 3, 2, 0.7), rgba(59, 205, 221, 0.192)), 
                      url('https://images.unsplash.com/photo-1574375927938-d5a98e8ffe85?q=80&w=2069&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

body:hover {
    background-image: linear-gradient(rgba(50, 10, 63, 0.7), rgba(65, 11, 10, 0.7), rgba(43, 136, 147, 0.192)), 
                      url('https://images.unsplash.com/photo-1574375927938-d5a98e8ffe85?q=80');
}

.nomeNetflix{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(31, 0, 0);

}

.nomeNetflix:hover{
    cursor: pointer;
    background-color:rgba(65, 11, 10, 0.7);
    color: aliceblue;
    transition: 1.7s;
    transition-duration: 3s;
}

.cadastroLogin {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(130, 0, 0);
    background-color: rgb(14, 0, 9);
    width: 480px;
    padding: 60px 68px;
    margin: 320px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 50px;
}

.mensagemCadastro{
    margin-top: 2px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgb(123, 4, 4);
    border-radius: 20%;
    border-bottom: 10cap;
    display: flex;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-indent: 10rcap;
}

.mensagemCadastro:hover{
    color: rgb(244, 218, 218);
    background-color: rgb(72, 4, 41);
}

input {
    width: 100%;
    background: #3d3a3a;
    border: none;
    border-radius: 25px;
    padding: 16px 8px;
    color: white;
    font-size: 16px;
    transition: background 0.5s; 
}

input:hover{
    background-color: rgb(37, 111, 3);
    transition: 0.7s;
}


.btn-entrar {
    background-color: rgb(11, 199, 105);
    color: white;
    padding: 18px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.8s ease;
}

.btn-entrar:hover{
    transition: 1s;
    background-color: #109b04;
    transition: background 0.5s;
    transform: translateX(20px);
}